body {
    font-family: 'Montserrat', sans-serif;
}

#navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#navbar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

    .navbar-brand img {
        height: 56px;
        width: 56px;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(33, 37, 41);
    text-transform: uppercase;
    font-weight: bold;
}

#toast-container > div {
    opacity: 1;
}

.form-group.required label:first-child:after {
    content: " *";
    color: red;
}
.notRequired:after {
    content: none !important;
}

/*.form-group.required span:first-child:after {
    content: " *";
    color: red;
}*/
label.required:after {
    content: " *";
    color: red;
}
.hiddenRow {
    padding: 0 !important;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#pencil {
    height: 30px;
    width: 30px;
}

#indicatorBeingEditedTitle {
    color: steelblue;
    font-size: 20px;
    display: inline;
    font-weight: bold;
}

.modal-title {
    text-align: center;
    font-weight: bolder;
}

.requiredField {
    color: red;
}


.bold {
    font-weight: bold;
    color: steelblue;
}


#demo1, #demo2, #demo3 {
    width: 75%;
}

.indicatorName {
    font-size: 20px;
}

.headingIndicator {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

.headingStatus {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

.headingEdit {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

.card-header {
    background-color: white;
}

.indicatorControl i {
    font-size: 2.3em;
    color: rgb(33, 37, 41);
}

.descriptionIndicatorName {
    font-weight: bold;
    color: steelblue;
}
.progress-label {
    /*float: left;
            margin-right: 1em;*/
    /*line-height: 12vh;*/
    font-size: 2vh;
    text-align: right;
}

tr td a {
    font-size: 1.5em;
    margin: 0 0.2em;
    color: #222;
}

.table tr td {
    vertical-align: middle;
    white-space: nowrap;
}

tr td a:hover {
    color: #555;
}

tr th:last-child {
    text-align: right;
    white-space: nowrap;
}

.table tr th {
    white-space: nowrap;
}

/*tr td a:last-child {
            margin-right: 0;
            white-space: nowrap;
        }

        tr td:last-child {
            text-align: right;
            white-space: nowrap;
        }*/



.hover {
    cursor: pointer;
}

.progress {
    height: 30px;
}

#ProgressCircle strong {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.cardDash {
    max-height: 28em;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

label {
    font-weight: bold;
}

.requiredError {
    color: red;
}



#ViewPastCycleButton {
    display: inline-block;
}


#CreateNewCycleButton {
    display: inline-block;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }



#pencil {
    height: 30px;
    width: 30px;
}

#indicatorBeingEditedTitle {
    color: steelblue;
    font-size: 20px;
    display: inline;
    font-weight: bold;
}

.modal-title {
    text-align: center;
    font-weight: bolder;
}


.bold {
    font-weight: bold;
    color: steelblue;
}


#demo1, #demo2, #demo3 {
    width: 75%;
}

.card-header {
    background-color: white;
}


.descriptionIndicatorName {
    font-weight: bold;
    color: steelblue;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pagesHidden {
    display: none;
}


.bg-light {
    color: black;
}

.test {
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: .5em;
}



